data/01_RNA_seurat
data/03_RNA_seurat
data/04_RNA_seurat
data/04_RNA_seurat_rpca_int
data/04_RNA_seurat_cca_int
data/04_anchors
data/04_RNA_seurat_v2
data/05_RNA_seurat
data/05_RNA_seurat_singleR_ann
data/05_RNA_seurat_singleR_subset_ann
plots/
papers/
.Rhistory
.Rproj.user
Single-Cell-Bioinformatics.Rproj
.Rapp.history
Single_Cell_Bioinformatics.Rproj
HeleneProj.Rproj
ATACseq/
ArchRLogs/
QualityControl/
scATACseq_data/
tmp/
plots/

data/*
R/test_copykat*

